<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {{!-- style used from login page --}}
    <link rel="stylesheet" href="../style/login.css">
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
    {{>header}}

    <main>
        <form action="" method="post" id="myForm">
            <h2>Reset Password</h2>
            <div class="password">
                <label for="password">Password</label>
                <input type="password" id="password" placeholder="Enter your password" name="password" required>
            </div>
            <div class="password">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" id="confirmPassword" placeholder="Enter your confirm password" name="confirmPassword" required>
            </div>
            <input type="submit" value="Reset Password" id="login">
            <p id="passwordStatus">Both Password Not Match</p>
        </form>
    </main>
    {{!-- script used form script page --}}
    <script src="../script/script.js"></script>
</body>
</html>