<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../style/signup.css">
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
    {{>header}}

    <main>
        <form action="/signup" method="POST">
            <h2>Sign Up</h2>
            <div class="name">
                <label for="name">Name</label>
                <input type="text" id="name" placeholder="Enter your name" name="name" autofocus required>
            </div>
            <div class="email">
                <label for="email">Email</label>
                <input type="email" id="email" placeholder="Enter your email" name="email" required>
            </div>
            <div class="phone">
                <label for="phone">Phone</label>
                <input type="number" id="phone" placeholder="Enter your Phone Number" name="number" required>
            </div>
            <div class="password">
                <label for="password">Password</label>
                <input type="password" id="password" placeholder="Enter your Phone Number" name="password" required>
            </div>
            <div id="gender">
                <label for="male">
                    <input type="radio" name="gender" id="male" value="male" required> male
                </label>
                <label for="female">
                    <input type="radio" name="gender" id="female" value="female" required>female
                </label>
            </div>
            <input type="submit" value="Sign Up" id="register">
            <div id="SignInFooter">
                <ul>
                    <li><a href="/login">Already have a Account - Login</a></li>
                </ul>
            </div>
        </form>
    </main>
</body>
</html>